*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {

    --screen-width: 1200px;
    --neutral-900: #1f2223;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #363939;
    background-color: rgb(36, 40, 40);  
}

img{
    width: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: inherit;
    
}

li{
    text-decoration: none;
    display: block;
}

.background{
    background: url(./images/Hero\ image\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_section .green_bg{
    background: linear-gradient(rgb(66, 182, 129), rgb(132, 205, 95));

}

.green_bg{
    display: block;
    width: fit-content;
    margin: auto;
    transform: skewX(-15deg);
    border-radius: 5px;
    padding: 0 10px;
    position: relative;
}

.green_bg p{
    transform: skewX(15deg);
}

.green_bg::before {
    content: "";
    background-image: linear-gradient(#39b385, #9be15d);
    border-radius: 5px;
    inset: 0;
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.fade_gradient.green_bg::before {
    opacity: 1;
    transform: scale(1);
}

.btn-1:hover,.card_back button:hover,.fa:hover,.book_now_btn:hover {
    color: white;
	box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
	background-color: rgba(0, 0, 0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
    letter-spacing: 1px;
	transition: ease-in-out 0.5s;
}

.navbar_blur {
    background-color: rgba(87, 89, 90, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 10px var(--neutral-900);
    animation: sticky_nav_animation 1000ms ease-in-out 1;
}

.title_highlight{
    font-size: 65px;
    font-family: Playfair Display;
    text-align: center;
    margin-top: 2rem;
    font-weight: 900;

}

.travels{
    display: inline-block;
}

data-title{
    font-size: larger;
}

.welcome_right_card  data-title{
    display: inline-block;
    font-size: larger;
}

